body{
    background-image: url("/Build_a_passenger_counter_app/img/pexels-photo-1010973.jpeg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
}

.titulo{
    text-align: center;
    color: beige;
    margin-left: 500px;
    font-size: 50px;

    margin-top: 100px;
}

.fondo{
    text-align: center;
    color: beige;
   
   

    margin-top: 100px;
  
}

#people-counter{
    margin-left: 500px;
    font-size: 40px;

}

.btn{
    margin-left: 500px;
    display: flex;
    justify-content: space-between;
}

#increment-btn{
    margin-left: 450px;
    background-color: darkgray;
    width: 200px;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    font-size: 25px;
    color: black;
    opacity: 0.5;
}

#save-btn{
    margin-right: 450px;
    background-color: darkgray;
    width: 200px;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    font-size: 25px;
    color: black;
    opacity: 0.5;
}



#save-el{
    font-size: 20px;
    padding-left: 400px;
    padding-top: 20px;
}